<div class="add-test">
    <div class="add-test__wrap">
        <!-- TODO добавить action -->
        <form action="#" id="add-test-form" class="add-test-form" method="POST">
            <div class="add-test-form__questions"></div>

            <div class="add-test-form__buttons">
                <button id="add-question-btn">Добавить вопрос</button>
                <input type="submit" value="Сохранить">
            </div>
        </form>
    </div>
</div>