<div class="management">
    <div class="management__wrap">
        <form action="#" id="management-form" class="management-form" method="GET">
            <div id="save-progress" class="management-form__save-progress management-form__save-progress--success">Изменения успешно сохранены</div>
            <div class="management-form__form-group">
                <div class="management-form__users">
                    <select name="selected-user" id="selected-user" class="users">
                        <option value="ivan.ivanov@mail.ru" class="users__user">ivan.ivanov@mail.ru</option>
                        <option value="bill.gates@outlook.com" class="users__user">bill.gates@outlook.com</option>
                        <option value="steve.jobs@icloud.com" class="users__user">steve.jobs@icloud.com</option>
                        <option value="arkady.volozh@yandex.ru" class="users__user">arkady.volozh@yandex.ru</option>
                        <option value="durov@gmail.ru" class="users__user">durov@gmail.ru</option>
                    </select>
                    <div class="management-form__form-group">
                        <div class="management-form__submit">
                            <input type="button" value="Добавить тест">
                            <input type="submit" value="Сохранить">
                        </div>
                    </div>
                </div>

                <div class="management-form__tests">
                    <div class="management-form__test">
                        <input type="checkbox" id="test1" name="high-level-programming">
                        <label for="test1">Программирование на языке высокого уровня</label>
                    </div>
                    <div class="management-form__test">
                        <input type="checkbox" id="test2" name="parallel">
                        <label for="test2">Параллельное программирование</label>
                    </div>
                    <div class="management-form__test">
                        <input type="checkbox" id="test3" name="science-dev">
                        <label for="test3">Разработка программных средств для научного эксперимента</label>
                    </div>
                    <div class="management-form__test">
                        <input type="checkbox" id="test4" name="machine-learning">
                        <label for="test4">Технологии исскуственного интелекта</label>
                    </div>
                    <div class="management-form__test">
                        <input type="checkbox" id="test5" name="algorighms">
                        <label for="test5">Теория алгоритмов</label>
                    </div>
                    <div class="management-form__test">
                        <input type="checkbox" id="test6" name="img-analysis">
                        <label for="test6">Методы анализа и распознавания изображений</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>