<div class="reset-password-block">
    <div class="reset-password-block__wrap">
        <div class="reset-password-block__inner">
            <h1>Войти</h1>
            <div class="reset-password-block__form">
                <form action="users/login" method="POST" class="signin-popup-form">
                    <div id="login-error" class="signin-popup-form__error-msg signin-popup-form__error-msg--hide"></div>
                    <div class="signin-popup-form__email">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="signin-popup-form__password">
                        <input type="password" name="password" placeholder="Пароль">
                    </div>
                    <div class="signin-popup-form__submit">
                        <input type="submit" value="Войти">
                        <a id="forget-password" href="/restoration">Забыли пароль?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>