<div class="hero">
    <div class="hero__wrap">
        <div class="hero__content">
            <h1>TestUp – современная система тестирования</h1>
            <p>
                Вы перешли на сайт системы тестирования TestUp.
                Для ее использования необходимо оставить заявку.
            </p>
        </div>
        <div class="hero__form">
            <form action="users/register" method="POST" id="register-form" class="register-form">
                <div class="register-form__email">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="register-form__submit-btn">
                    <input type="submit" value="Отправить заявку">
                </div>
            </form>
        </div>
    </div>
</div>

