<div class="reset-password-block">
    <div class="reset-password-block__wrap">
        <div class="reset-password-block__inner">
            <h1>Сброс пароля</h1>
            <span class="reset-password-block__annotation">Укажите email для которого хотите сбросить пароль</span>
            <div class="reset-password-block__form">
                <form action="#" id="reset-form" class="reset-form" method="post">
                    <div id="reset-error" class="reset-form__error-msg reset-form__error-msg--hide"></div>
                    <div class="reset-form__form-group">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="reset-form__submit">
                        <input type="submit" value="Сбросить">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>