<div class="available-tests">
    <div class="available-tests__wrap">
        <h2 class="available-tests__header">Доступные тесты</h2>
        <ul class="available-tests__list">
            {{#each tests}}
                <li class="available-tests__test">
                    <div>
                        <a href="/test/{{this.id}}">{{this.name}}</a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
