.answer-block {

    &__item:not(:last-child) {
        margin-bottom: 5px;
    }

    &__item {
        position: relative;
    }

    &__delete-answer {
        position: absolute;
        left: -30px;
    }

}