.main-menu {

    width: 400px;
    height: 100%;

    @media (max-width: $media-480) {
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;

        display: none;
        width: auto;
        height: auto;

        text-align: center;

        background-color: #3f3f3f;
    }

    &__list {
        height: 100%;
        padding: 0;
        margin: 0;

        list-style: none;
    }

    &__item {
        display: inline-block;
        height: 100%;
        padding: 0 10px;

        a {
            display: inline-block;
            height: 100%;

            vertical-align: middle;
            text-decoration: none;
            line-height: 60px;
            color: white;

            &:hover {
                color: darken(white, 15%);
            }
        }

        @media (max-width: $media-480) {
            display: block;
        }
    }

    &--show {
        display: block;
    }

}
