.main-footer {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 60px;

    background-color: #3f3f3f;

    &__wrap {
        height: 100%;

        @include container($container-1280);

        @media (max-width: $media-960) {
            @include container($container-960);
        }

        @media (max-width: $media-768) {
            @include container($container-768);
        }

        @media (max-width: $media-480) {
            @include container($container-480);
        }

        @media (max-width: $media-320) {
            @include container($container-320);
        }
    }

}
