.management-form {

    position: relative;

    width: 920px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $media-768) {
        width: 728px;
    }

    @media (max-width: $media-480) {
        width: 440px;
    }

    @media (max-width: $media-320) {
        width: 280px;
    }

    &__form-group {
        margin-left: auto;
        margin-right: auto;

        &::after {
            @include clearfix();
        }
    }

    &__users,
    &__tests {
        padding: 50px;
        float: left;

        @media (max-width: $media-768) {
            float: none;
        }

        @media (max-width: $media-320) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__users {
        @media (max-width: $media-768) {
            text-align: center;
        }
    }

    &__tests {
        max-width: 600px;

        @media (max-width: $media-768) {
            max-width: none;
        }
    }

    &__test {
        input {
            display: none;
        }

        label {
            position: relative;

            display: block;
            padding-left: 25px;

            @media (max-width: $media-768) {
                padding-top: 1px;
                padding-bottom: 1px;
            }
        }

        // Кастомный не выбранный checkbox
        input + label::before {
            position: absolute;
            top: 1px;
            left: 1px;

            font: normal normal normal 16px/1 FontAwesome;

            content: "\f096";

            @media (max-width: $media-768) {
                font-size: 20px;
            }
        }

        // Кастомный выбранный checkbox
        input:checked + label::before {
            position: absolute;
            top: 1px;
            left: 1px;

            font: normal normal normal 16px/1 FontAwesome;

            content: "\f046";

            @media (max-width: $media-768) {
                font-size: 20px;
            }
        }
    }

    &__test:not(:last-child) {
        margin-bottom: 5px;
    }

    &__submit {
        padding-top: 20px;

        input {
            display: block;
            width: 200px;
            height: 45px;
            margin-left: auto;
            margin-right: auto;

            font-weight: bold;
            font-size: 1rem;

            border: none;
            border-radius: 5px;
            background-color: #f5f5f5;

            &:hover {
                background-color: darken(#f5f5f5, 3%);

                cursor: pointer;
            }
        }

        input:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__save-progress {
        position: absolute;
        top: 10px;
        left: 50px;

        display: none;
        padding-left: 20px;

        @media (max-width: $media-768) {
            left: 26px;
        }
    }

    &__save-progress--success {
        display: block;

        color: forestgreen;

        &::before {
            position: absolute;
            left: 0;
            top: 1px;

            font: normal normal normal 16px/1 FontAwesome;

            content: "\f058";
        }
    }

    &__save-progress--error {
        display: block;

        color: red;

        &::before {
            position: absolute;
            left: 0;
            top: 1px;

            font: normal normal normal 16px/1 FontAwesome;

            content: "\f057";
        }
    }

}