.reset-password-block {

    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width: $media-320) {
        @include container($container-320);

        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__wrap {
        @include container($container-1280);

        @media (max-width: $media-960) {
            @include container($container-960);
        }

        @media (max-width: $media-768) {
            @include container($container-768);
        }

        @media (max-width: $media-480) {
            @include container($container-480);
        }

        @media (max-width: $media-320) {
            @include container($container-320);
        }
    }

    &__inner {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;

        h1 {
            margin-bottom: 5px;
        }
    }

    &__annotation {
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.5);
    }

    &__form {
        padding-top: 20px;
    }

}