.reset-form {

    input[name=email] {
        display: block;
        width: 280px;
        height: 45px;
        padding: 5px;
        margin: 0;

        font-size: 1rem;
    }

    input[type=submit] {
        display: block;
        width: 200px;
        height: 45px;

        font-weight: bold;
        font-size: 1rem;

        border: none;
        border-radius: 5px;
        background-color: #f5f5f5;

        &:hover {
            background-color: darken(#f5f5f5, 3%);

            cursor: pointer;
        }
    }

    &__submit {
        margin-top: 10px;
    }

    &__error-msg {
        padding-bottom: 5px;

        color: red;
    }

    &__error-msg--hide {
        display: none;
    }

}