* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 16px;

    @media (max-width: $media-480) {
        font-size: 14px;
    }

}

body {
    position: relative;

    min-width: $container-1280;
    min-height: 100vh;
    padding-bottom: 106px;

    background-color: #dcdcdc;
    
    @media (max-width: $media-960) {
        min-width: $container-960;
    }

    @media (max-width: $media-768) {
        min-width: $container-768;
    }

    @media (max-width: $media-480) {
        min-width: $container-480;
    }

    @media (max-width: $media-320) {
        min-width: $container-320;
    }
}

body.no-scroll {
    overflow-y: hidden;
}
